<footer>
    <aside class="container">
        <aside  class="row">
            <aside class="footer-col">
                <h4>Marketplace</h4>
                <ul>
                    <li><a href="">All NFTs</a></li>
                    <li><a href="">Art</a></li>
                    <li><a href="">Music</a></li>
                    <li><a href="">Domain Names</a></li>
                </ul>
            </aside>

            <aside class="footer-col">
                <h4>Resorces</h4>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Partners</a></li>
                    <li><a href="">Suggestions</a></li>
                    <li><a href="">Disord</a></li>
                </ul>
            </aside>

            <aside class="footer-col">
                <h4>Community</h4>
                <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Documentation</a></li>
                    <li><a href="">Brand Assets</a></li>
                    <li><a href="">Blog</a></li>
                </ul>
            </aside>

            <aside class="footer-col">
                <h4>Newsletter</h4>
                <p>Lor laboriosam veritatis incid ipsa <br> jho jiug lhyhyy dolorem?</p>
                <aside class="icons">
<a class="icon-1"  href=""><i class='fab fa-facebook-f fb'></i></a>
<a class="icon-1" href=""><i class='fab fa-instagram insta'></i></a>
<a class="icon-1" href=""><i class='fab fa-twitter twitter'></i></a>
                </aside>
            </aside>
        </aside>

    </aside>
</footer>