<section>
    <input type="radio" name="dot" id="one">
    <input type="radio" name="dot" id="two">

    <aside class="container-main">
<h1 class="container-h1">Top Seller</h1>
<span class="container-h4">View All</span>
    </aside>
    <aside class="header">

   
    <aside class="container-slider">
        <aside class="slider-content">
<img class="slider-img" src="../../assets/slider-1.png" alt="">
<aside class="slider-detail">
<h2 class="slider-h2">Alex Maverick</h2>
<h4 class="slider-h4">400 ArtWorks</h4>
</aside>
        </aside>

        <aside class="slider-content">
            <img class="slider-img" src="../../assets/slider-2.png" alt="">
            <aside class="slider-detail">
            <h2 class="slider-h2">Benjamin John</h2>
            <h4 class="slider-h4">400 ArtWorks</h4>
            </aside>
                    </aside>

                    <aside class="slider-content">
                        <img class="slider-img" src="../../assets/slider-3.png" alt="">
                        <aside class="slider-detail">
                        <h2 class="slider-h2">Kingston lara</h2>
                        <h4 class="slider-h4">400 ArtWorks</h4>
                        </aside>
                                </aside>
    </aside>
 

    <aside class="container-slider">
        <aside class="slider-content">
<img class="slider-img" src="../../assets/slider-1.png" alt="">
<aside class="slider-detail">
<h2 class="slider-h2">Zaman</h2>
<h4 class="slider-h4">400 ArtWorks</h4>
</aside>
        </aside>

        <aside class="slider-content">
            <img class="slider-img" src="../../assets/slider-1.png" alt="">
            <aside class="slider-detail">
            <h2 class="slider-h2">Suhail</h2>
            <h4 class="slider-h4">400 ArtWorks</h4>
            </aside>
                    </aside>

                    <aside class="slider-content">
                        <img class="slider-img" src="../../assets/slider-1.png" alt="">
                        <aside class="slider-detail">
                        <h2 class="slider-h2">Neethu</h2>
                        <h4 class="slider-h4">400 ArtWorks</h4>
                        </aside>
                                </aside>
    </aside>
    </aside>

    <!-- <aside class="button">
        <label for="one" class="one active"></label>
        <label for="two" class="two"></label>
            </aside> -->

            <aside style="padding:2rem 0;" class="header">

   
                <aside class="container-slider">
                    <aside class="slider-content">
            <img class="slider-img" src="../../assets/slider-1.png" alt="">
            <aside class="slider-detail">
            <h2 class="slider-h2">Fayiz</h2>
            <h4 class="slider-h4">400 ArtWorks</h4>
            </aside>
                    </aside>
            
                    <aside class="slider-content">
                        <img class="slider-img" src="../../assets/slider-1.png" alt="">
                        <aside class="slider-detail">
                        <h2 class="slider-h2">Anusree</h2>
                        <h4 class="slider-h4">400 ArtWorks</h4>
                        </aside>
                                </aside>
            
                                <aside class="slider-content">
                                    <img class="slider-img" src="../../assets/slider-1.png" alt="">
                                    <aside class="slider-detail">
                                    <h2 class="slider-h2">Selwa</h2>
                                    <h4 class="slider-h4">400 ArtWorks</h4>
                                    </aside>
                                            </aside>
                </aside>
             
            
                <aside class="container-slider">
                    <aside class="slider-content">
            <img class="slider-img" src="../../assets/slider-1.png" alt="">
            <aside class="slider-detail">
            <h2 class="slider-h2">Sahfan</h2>
            <h4 class="slider-h4">400 ArtWorks</h4>
            </aside>
                    </aside>
            
                    <aside class="slider-content">
                        <img class="slider-img" src="../../assets/slider-1.png" alt="">
                        <aside class="slider-detail">
                        <h2 class="slider-h2">Misbah</h2>
                        <h4 class="slider-h4">400 ArtWorks</h4>
                        </aside>
                                </aside>
            
                                <aside class="slider-content">
                                    <img class="slider-img" src="../../assets/slider-1.png" alt="">
                                    <aside class="slider-detail">
                                    <h2 class="slider-h2">Sona</h2>
                                    <h4 class="slider-h4">400 ArtWorks</h4>
                                    </aside>
                                            </aside>
                </aside>
                </aside>
            
                <aside class="button">
                    <label for="one" class="one active"></label>
                    <label for="two" class="two"></label>
                        </aside>
                        
</section>