<section>

    <aside  class="Business-Partners">
<img class="partner-logo" src="../../assets/amzon.png" alt="">
<img class="partner-logo" src="../../assets/slack.png" alt="">
<img class="partner-logo" src="../../assets/Paradigm.png" alt="">
<img class="partner-logo" src="../../assets/Group 309.png" alt="">
<img class="partner-logo" src="../../assets/Binance Logo.png" alt="">

    </aside>

    <aside class="Main-Head">
    
    <aside  class="Main-1">
<aside class="main-text">
<h1 class="main-h1">How it Works</h1>
<h6 class="main-h6">NFT stands for ‘non-fungible token’. Non-fungible means that  <br> something is uniqueey
     and cryptocurrencies are fungible, <br> which means they can be traded or exchanged for one another. </h6>
     <a class="main-A" href="">Learn More</a>
</aside>

    </aside>

    <aside  class="Main-2">
        <aside  class="Main-content">

            <aside class="card">
                <aside class="card-content">
                <img class="card-img" src="../../assets/wallet-card.png" alt="">
                <h2 class="card-h2">Set up Your Wallet</h2>
                <h6 class="card-h6" >Lorem ipsum dolor sit amet cudiandae  dolorum mi eaq natus
                  </h6>
                </aside>
                </aside>
                
                <aside class="card">
                    <aside class="card-content">
                    <img class="card-img" src="../../assets/coin-card.png" alt="">
                    <h2 class="card-h2">Buy Your Collection</h2>
                    <h6 class="card-h6" >Lorem ipsum dolor sit amet cudiandae  dolorum mi eaq natus
                      </h6>
                    </aside>
                    </aside>
        </aside>


<aside  class="main-content-2">
    <aside class="card-2">
        <aside class="card-content-2">
            <img class="card-img-2" src="../../assets/nft-card.png" alt="">
            <h2 class="card-h2-2">Sell Your NFTs</h2>
            <h6 class="card-h6-2" >Lorem ipsum dolor sit amet cudiandae  dolorum mi eaq natus
              </h6>
            </aside>
            
    </aside>

    <aside class="card-2">
        <aside class="card-content-2">
            <img class="card-img-2" src="../../assets/add-nft.png" alt="">
            <h2 class="card-h2-2">Add your NFTs</h2>
            <h6 class="card-h6-2" >Lorem ipsum dolor sit amet cudiandae  dolorum mi eaq natus
              </h6>
            </aside>
            
    </aside>
            
       </aside>

       


   
        

            
            
    </aside>
    </aside>

</section>