<section>
    <aside class="collection-head">
<aside class="collection-text">
<h1 class="collection-h1">Hot Collections</h1>
<h2 class="collection-h2">Loremmet tempora illo, quisquam molestiae  perspiciatis.</h2>
</aside>
<h3 class="collection-h3">View All</h3>
    </aside>

    <aside class="collection-card">
        <aside class="collection-content">
<img class="collection-img-1" src="../../assets/last-card-img/image 66.png" alt="">
<img class="profile-img" src="../../assets/last-card-img/unsplash_a19OVaa2rzA.png" alt="">
<aside class="collection-2">
<img class="collection-img-2" src="../../assets/last-card-img/image 64.png" alt="">
<img class="collection-img-2" src="../../assets/last-card-img/image 83.png" alt="">
<img class="collection-img-2" src="../../assets/last-card-img/image 65.png" alt="">
</aside>
<aside class="collection-button">
<a class="collection-btn" href="">Art item</a>
<a class="collection-btn-1" href="">35+ item</a>
</aside>
        </aside>

        <aside class="collection-content">
            <img class="collection-img-1" src="../../assets/last-card-img/2nd card/image 75.png" alt="">
            <img class="profile-img" src="../../assets/last-card-img/2nd card/unsplash_a19OVaa2rzA.png" alt="">
            <aside class="collection-2">
            <img class="collection-img-2" src="../../assets/last-card-img/2nd card/image 72.png" alt="">
            <img class="collection-img-2" src="../../assets/last-card-img/2nd card/image 73.png" alt="">
            <img class="collection-img-2" src="../../assets/last-card-img/2nd card/image 90.png" alt="">
            </aside>
            <aside class="collection-button">
            <a class="collection-btn" href="">Art item</a>
            <a class="collection-btn-1" href="">35+ item</a>
            </aside>
                    </aside>

                    <aside class="collection-content">
                        <img class="collection-img-1" src="../../assets/last-card-img/3rd card/image 85.png" alt="">
                        <img class="profile-img" src="../../assets/last-card-img/3rd card/unsplash_a19OVaa2rzA.png" alt="">
                        <aside class="collection-2">
                        <img class="collection-img-2" src="../../assets/last-card-img/3rd card/image 86.png" alt="">
                        <img class="collection-img-2" src="../../assets/last-card-img/3rd card/image 87.png" alt="">
                        <img class="collection-img-2" src="../../assets/last-card-img/3rd card/image 89.png" alt="">
                        </aside>
                        <aside class="collection-button">
                        <a class="collection-btn" href="">Art item</a>
                        <a class="collection-btn-1" href="">35+ item</a>
                        </aside>
                                </aside>

                                <aside class="collection-content">
                                    <img class="collection-img-1" src="../../assets/last-card-img/4th crd/image 88.png" alt="">
                                    <img class="profile-img" src="../../assets/last-card-img/4th crd/unsplash_a19OVaa2rzA.png" alt="">
                                    <aside class="collection-2">
                                    <img class="collection-img-2" src="../../assets/last-card-img/4th crd/image 76.png" alt="">
                                    <img class="collection-img-2" src="../../assets/last-card-img/4th crd/image 70.png" alt="">
                                    <img class="collection-img-2" src="../../assets/last-card-img/4th crd/image 63.png" alt="">
                                    </aside>
                                    <aside class="collection-button">
                                    <a class="collection-btn" href="">Art item</a>
                                    <a class="collection-btn-1" href="">35+ item</a>
                                    </aside>
                                            </aside>
    </aside>

</section>