<section>

    <aside class="head">
        <aside  class="content-1">
<h1 class="head-h1">Trending Auctions</h1>
<h6 class="head-h6">Lorem ipsum dolor sit amet, consectetur adipisc elit amet. <br> Consectetu at it lrorem ipsum dolor sit amet.</h6>
        </aside>
        <aside   class="content-arrow">
            <span class="material-symbols-outlined arrow-2">
                chevron_left
                </span>
            <span class="material-symbols-outlined arrow-1">
                chevron_right
                </span>
              
        </aside>
    </aside>

    <aside  class="card-head">

        <aside  class="card-content">
<aside class="content-text">
<h1 class="card-h1">VERUALY ART</h1>
<h6 class="card-h6">@nftsart</h6>
</aside>
<aside class="card-img">
<img class="content-img" src="../../assets/image 80.png" alt="">
</aside>
<aside class="card-footer">
<aside class="card-time">
<h1 class="footer-h1">15h : 05m : 26s</h1>
<h6 class="footer-h6">Remaining Time</h6>
</aside>    
<aside class="card-prize">
<h1 class="prize-h1">20.25 ETH</h1>
<h1 class="prize-h6">Highest Bid</h1>
</aside>

</aside>
        </aside>

        <aside  class="card-content">
            <aside class="content-text">
            <h1 class="card-h1">DOGE ART</h1>
            <h6 class="card-h6">@nftsart</h6>
            </aside>
            <aside class="card-img">
            <img class="content-img" src="../../assets/doge.png" alt="">
            </aside>
            <aside class="card-footer">
            <aside class="card-time">
            <h1 class="footer-h1">15h : 05m : 26s</h1>
            <h6 class="footer-h6">Remaining Time</h6>
            </aside>    
            <aside class="card-prize">
            <h1 class="prize-h1">20.25 ETH</h1>
            <h1 class="prize-h6">Highest Bid</h1>
            </aside>
            
            </aside>
                    </aside>

                    <aside  class="card-content">
                        <aside class="content-text">
                        <h1 class="card-h1">CAT COIN</h1>
                        <h6 class="card-h6">@nftsart</h6>
                        </aside>
                        <aside class="card-img">
                        <img class="content-img" src="../../assets/Meme-Coin.jpg" alt="">
                        </aside>
                        <aside class="card-footer">
                        <aside class="card-time">
                        <h1 class="footer-h1">15h : 05m : 26s</h1>
                        <h6 class="footer-h6">Remaining Time</h6>
                        </aside>    
                        <aside class="card-prize">
                        <h1 class="prize-h1">20.25 ETH</h1>
                        <h1 class="prize-h6">Highest Bid</h1>
                        </aside>
                        
                        </aside>
                                </aside>

    </aside>

</section>