<section>
    <header>
        <aside class="logo">
            <img src="../../assets/exchange 1.png" alt="">
            <h4>NFTs</h4>
        </aside>
        <aside  class="nav">
<ul>
    <li>
        <a class="li-A" href="">Home</a>
        <a class="li-A" href="">Market</a>
        <a class="li-A" href="">Artists</a>
        <a class="li-A" href="">Community</a>
        <a class="li-A"  href="">Wallet</a>

    </li>
</ul>
<aside class="button">
<a class="btn-1" href="">Login</a>
<a class="btn-2" href="">Sign Up</a>
</aside>
        </aside>
    </header>

    <!-- ------- -->
    <aside class="Home-text">
<aside  class="Home-content">
    <aside class="heading">
        <h1 data-aos="fade-right"
        data-aos-easing="linear"
        data-aos-duration="600" class="Home-h1">Discover,</h1>
        <h1 data-aos="fade-right"
        data-aos-easing="linear"
        data-aos-duration="800" class="Home-h1">Collect and Sell</h1>
        <h1 data-aos="fade-right"
        data-aos-easing="linear"
        data-aos-duration="1000" class="Home-h1">Dope NFTs</h1>
    </aside>

<aside  class="home-paragraph">
<p data-aos="fade-right"
data-aos-easing="linear"
data-aos-duration="1200" class="small-text">Non-fungible tokens (NFTs) are assets that have been tokenized via a blockchain 
    They are assigned unique identification codes and metadata that distinguish them from other tokens.</p>
</aside>
<aside  class="btns">
<a class="button-1" href="">Explore</a>
<a class="button-2" href="">Create</a>
</aside>
</aside>
    </aside>

    <aside  class="Active-box">
        <aside class="box">
            <aside class="box-content">
<h1 class="box-h1">80K+</h1>
<h5 class="box-h5">Active user</h5>
            </aside>
        </aside>
        <aside class="box">
            <aside class="box-content">
                <h1 class="box-h1">27K+</h1>
                <h5 class="box-h5">Artworks</h5>
            </aside>
          
        </aside>
        <aside class="box">
            <aside class="box-content">
                <h1 class="box-h1">3.5K+</h1>
                <h5 class="box-h5">Artists</h5>
            </aside>
           
        </aside>
    </aside>
</section>